@font-face {
  font-family: "iconfont"; /* Project id 2790409 */
  src: url('iconfont.woff2?t=1634363105251') format('woff2'),
       url('iconfont.woff?t=1634363105251') format('woff'),
       url('iconfont.ttf?t=1634363105251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back-top:before {
  content: "\e696";
}

.icon-backtop:before {
  content: "\e606";
}

.icon-about:before {
  content: "\e63e";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-home:before {
  content: "\e67b";
}

.icon-hot:before {
  content: "\e6fe";
}

.icon-category:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e67d";
}

.icon-article:before {
  content: "\e7fd";
}

.icon-tags:before {
  content: "\e883";
}

.icon-date:before {
  content: "\e618";
}

.icon-eye:before {
  content: "\e8fa";
}

.icon-code:before {
  content: "\e684";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-css:before {
  content: "\e61e";
}

.icon-javascript:before {
  content: "\e66b";
}

.icon-right:before {
  content: "\e638";
}

.icon-database:before {
  content: "\e626";
}

.icon-html:before {
  content: "\e706";
}

.icon-react:before {
  content: "\e799";
}

.icon-new:before {
  content: "\e615";
}

.icon-hots:before {
  content: "\e6c2";
}

.icon-java:before {
  content: "\e66a";
}

.icon-nodejs:before {
  content: "\e683";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-xiaochengxu:before {
  content: "\e685";
}

.icon-recommend:before {
  content: "\e688";
}

